.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.companyname {
  font-size: 5rem;
  color: chocolate;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.street {
  font-size: 2.5rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}
.state {
  font-size: 2rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}
