.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.companyname {
  font-size: 6rem;
  color: chocolate;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.street {
  font-size: 2.5rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}
.state {
  font-size: 2rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}

/* --------------------About Page---------------------- */
.about {
  color: red;
}

@media (320px <= width <= 480px) {
  .companyname {
    font-size: 3rem;
  }
  .street {
    font-size: 2rem;
  }
  .state {
    font-size: 1rem;
  }
}
@media (481px <= width <= 768px) {
  .companyname {
    font-size: 3rem;
  }
  .street {
    font-size: 2rem;
  }

  .state {
    font-size: 1rem;
  }
}
@media (769px <= width <= 1024px) {
  .companyname {
    font-size: 4rem;
  }
  .street {
    font-size: 3rem;
  }
  .state {
    font-size: 2rem;
  }
}
@media (1024 <= width <= 1600px) {
  .companyname {
    font-size: 6rem;
  }
  .street {
    font-size: 4rem;
  }
  .state {
    font-size: 2rem;
  }
}
