.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.companyname {
  font-size: 6rem;
  color: chocolate;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.street {
  font-size: 2.5rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}
.state {
  font-size: 2rem;
  color: chocolate;
  font-style: italic;
  text-align: center;
}
.linking {
  color: blue;
  font-size: 1.5rem;
}
.linking:hover {
  text-decoration: underline;
  color: rgb(255, 0, 234);
}
.aboutlink {
  color: blue;
}
.aboutlink:hover {
  text-decoration: underline;
  color: rgb(255, 0, 234);
}

/* --------------------About Page---------------------- */
.about {
  color: red;
}

/* --------------------topnav Page---------------------- */
.navbar {
  height: 4rem;
  border-bottom: 1px rgb(128, 94, 0) solid;
}
.react-icons {
  vertical-align: middle;
  margin-left: 2rem;
}
.logo {
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.mylist {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 8px 0 8px;
}
.navitems {
  padding: 0 12px 0 12px;
  color: red;
}

@media (320px <= width <= 480px) {
  .companyname {
    font-size: 3rem;
  }
  .street {
    font-size: 2rem;
  }
  .state {
    font-size: 1rem;
  }
}
@media (481px <= width <= 768px) {
  .companyname {
    font-size: 3rem;
  }
  .street {
    font-size: 2rem;
  }

  .state {
    font-size: 1rem;
  }
}
@media (769px <= width <= 1024px) {
  .companyname {
    font-size: 4rem;
  }
  .street {
    font-size: 3rem;
  }
  .state {
    font-size: 2rem;
  }
}
@media (1024 <= width <= 1600px) {
  .companyname {
    font-size: 6rem;
  }
  .street {
    font-size: 4rem;
  }
  .state {
    font-size: 2rem;
  }
}
